
	<head>
		<title>Daily 10| Experiment 01</title>
		<!-- add following js files for wordsearch game -->
		<script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.wookmark/1.3.1/jquery.wookmark.min.js"></script>
    <script  type="text/javascript" src="https://raw.github.com/furf/jquery-ui-touch-punch/master/jquery.ui.touch-punch.min.js"></script>
	</head> 



	<body>
		<!-- EMPTY BODY TAG LIKE ALL THE EXAMPLES -->
		<!-- {{#Layout template="main_layout"}}
		 This is main template Layout content I think 
		 <H1> BLOWING UP LAYOUT TEMPLATE ALL UP IN HERE !!!!</H1>
		{{/Layout}} -->
	</body> 
	<template name="main_layout">
		
		<!-- start site header -->
		<header class="site_header">
			{{> header_area}}
			{{> main_menu_items}}
		</header>
		<!-- end site header news carousel goes here when working -->
		
		<!-- start site content -->
			<div class="site_content container-fluid">
				<div class="container">
					<div class="row">
						<!-- start main content area -->
						<section class="span8 main_content homepage_content">
								{{> yield }}
								<!-- {{> widget_homepage}} -->
						</section>
						<!-- end main content area -->
						<!-- start sidebar -->
						<div class="span4 side_content widget_area">
								{{>sidebar_widget}}
								{{>video_widget}}
								{{>social_counter}}
						</div>
						<!-- end sidebar -->
					</div>
				</div>
			</div>
		<!-- end site content -->
		<!-- start footer -->
		<footer class="site_footer">
			<div class="section first_footer" style="width: 100%; background-color: #08a1b0; ">
				<div class="container">
					<div class="row">
						{{>widget_ftr_categories}}
						{{>widget_ftr_tweets}}
						{{>widget_ftr_tags}}
						{{>widget_ftr_flickr}}
					</div>
				</div>
			</div>
				{{>widget_ftr_copyrt}}
		</footer>
		<!-- end footer -->
	</template>
<!-- </template> -->