<template name="maze">
	<canvas id="maze_canvas"></canvas>
  <div>
    <button class="hard">Load Hard Maze</button>
    <button class="easy">Load Easy Maze</button>
  </div>
  <img id="face" class="maze_face_image" src="/img/face.png">
</template>
