<template name="info_graphic">
	<head>
		<title>TEST EXPORT info</title>
	</head>
	<body id="TEST-EXPORT-info">
		<div class="frame-2">
			<img class="frame-1" src="/img/226.png" alt="226.png" />
		</div>
	</body>
</template>