<template name="header_area">
		<div class="header_area container-fluid">
			<div class="container">
				<div class="header_banner">
					<img src="/img/Daily10_logo03.jpg" alt="Daily 10 alt text" style="width: 100%">
				</div>
				<div class="container-fluid">
					<div class="row-fluid">
						<div class="span4 news_box_post_title">June 5, 2014</div>
						<div class="span4 offset4 pull-right">{{> loginButtons}}</div>
					</div>
				</div>
			</div>
		</div>
</template>