<template name="main_slider">
<!-- Pick three top stories for this one
	urls should be generated on the fly
	but should work because of the routes -->
		<div class="main_slider">
			<div id="main_carousel" class="main_carousel slide">
				<!-- slider bullets control -->
				<ol class="carousel-indicators main_slider_bullets">
					<li data-target="#main_carousel" data-slide-to="0" class=""></li>
					<li data-target="#main_carousel" data-slide-to="1" class=""></li>
					<li data-target="#main_carousel" data-slide-to="2" class="active"></li>
				</ol>
				
				<!-- Carousel items -->
				<div class="carousel-inner main_slider_inner">
					<!-- item 1 -->
					{{#each stories}}
						<div class="item">
							<a href="{{single_story01Path this}}"><img alt="Image Title" class="round_thumb" src="{{main_photo}}"></a>
							<div class="slider_post_info_overlay round_thumb"></div>
							<div class="slider_post_info_box">
								<div class="slider_post_info">
									<div class="slider_post_time">{{createdAt}}</div>
									
									<h4 class="slider_post_title"><a href="/stories/{{id}} ">{{title}}</a></h4>
									<div class="slider_post_desc">
										<p>{{summary}}</p>
									</div>
									
									<div class="slider_post_meta">Posted By <a href="#">{{author}}</a></div>
								</div>
							</div>
						</div>
					{{/each}}
				</div>
			</div>		
		</div>
</template>