<template name="news_carousel">
	<div class="news_carousel container-fluid hidden-phone" >
		<div class="container">
			<div id="news_carousel" class="carousel slide" >
				<!-- Carousel items -->
				<div class="carousel-inner">
					
					<!-- carousel active cycle-->
						<div class="item">
							<div class="row-fluid" style="background-color: white;">
							<!--
								Below is the sucky bit; the each block returns all story content in the row below. what I want is two sets of 4. with each set displayed via autoscroll or  when user clicks the carousel contol.
							-->
							{{#each stories}}
								<!-- carousel post item -->
									<div class="span3 news_carousel_post">
										<div class="news_carousel_thumbnail thumbnail_effect">
											<a href="{{pathFor 'single_story' }}"><img alt="Image Title" src="{{thumb}}" class="round_thumb" title="Post Title"></a>

											<a href="{{pathFor 'single_story'}}"><div class="thumbnail_overlay"><i class="glyphicon glyphicon-link"></i></div></a>
										</div>
										<div class="news_carousel_info">
											<h5 class="post_title"><a href="{{pathFor 'single_story' }}">{{title}}</a></h5>
											<span class="post_meta">{{date}} by <a>{{author}}</a></span>
										</div>
									</div>
								
								<!-- carousel post item -->
							{{/each}}
							</div>
						</div>
					
					
				</div>
				
				<!-- Carousel nav -->
				<a class="carousel-control left" href="#news_carousel" data-slide="prev">‹</a>
				<a class="carousel-control right" href="#news_carousel" data-slide="next">›</a>
			
			</div>
		</div>
	</div>
</template>