<!-- b83jqHiubvGbDhbHP -->
<template name="single_post02">
       <article class="single_post">
            <div class="post_banner"><img src="./Dailies01_singlePost_files/38.jpg"></div>
            <h1 class="post_title">Ut eu nisi augue. Duis gravida est in nulla mollis.</h1>
            <div class="news_box_post_meta">Posted on July 5, 2013 by <a href="http://projects.asalahsolutions.com/moraselhtml/single.html#">Ahmad Abou Hashem</a></div>
            <div class="tagcloud clearfix">
                <a href="http://projects.asalahsolutions.com/moraselhtml/single.html#" class="tag-link-2" title="3 topics" style="font-size: 22pt;">Business</a>
                <a href="http://projects.asalahsolutions.com/moraselhtml/single.html#" class="tag-link-15" title="2 topics" style="font-size: 16.4pt;">Image</a>
                <a href="http://projects.asalahsolutions.com/moraselhtml/single.html#" class="tag-link-5" title="2 topics" style="font-size: 16.4pt;">Politics</a>
            </div>
            <div class="news_box_post_desc">
                <p>Ut eu nisi augue. Duis gravida est in nulla mollis, vitae placerat erat convallis. In volutpat neque id tortor elementum, a tempus magna gravida. Nulla rhoncus dapibus elit, facilisis lobortis nunc convallis at. Integer ullamcorper neque sed dolor posuere sagittis. Vestibulum at commodo purus. Donec eget tortor ultrices, volutpat augue ut, luctus leo. Vestibulum elementum ipsum sed nibh euismod, vitae rhoncus lacus semper. Phasellus imperdiet sem eu commodo suscipit. Nam ut massa tortor. Donec nibh tortor, tincidunt ut mollis id, euismod in sapien. Maecenas vitae ante in massa consequat consectetur. Cras quis condimentum dolor.</p>
                <br>
                <p>Aenean accumsan blandit nisl lobortis convallis. Fusce eu mattis augue. Vestibulum mollis varius ornare. Sed a ornare nibh, auctor ullamcorper ipsum. Aenean aliquet viverra vehicula. Nunc ut arcu arcu. Quisque diam turpis, euismod at nunc et, venenatis dignissim justo. Donec eget est sit amet orci volutpat tincidunt quis in diam. Nunc id tortor diam. Ut enim orci, ullamcorper et nunc aliquam, fringilla lacinia velit.</p>
            </div>
            
            <!-- stars review box stars -->
            <div class="review_box clearfix">
                <h3 class="review_title">Item Review</h3>
                <div class="review_criteria">
                    <!-- start criteria item 1 -->
                    <div class="criteria_item clearfix">
                        <div class="criteria_name">Surface Design</div>
                        <div class="criteria_stars">
                            <div class="criteria_active_stars" style="width:82%;"></div>
                        </div>
                    </div>
                    <!-- end criteria item 1 -->
                    
                    <!-- start criteria item 2 -->
                    <div class="criteria_item clearfix">
                        <div class="criteria_name">Surface Design</div>
                        <div class="criteria_stars">
                            <div class="criteria_active_stars" style="width:69%;"></div>
                        </div>
                    </div>
                    <!-- end criteria item 2 -->
                    
                    <!-- start criteria item 3 -->
                    <div class="criteria_item clearfix">
                        <div class="criteria_name">Surface Design</div>
                        <div class="criteria_stars">
                            <div class="criteria_active_stars" style="width:92%;"></div>
                        </div>
                    </div>
                    <!-- end criteria item 3 -->
                    
                </div>
                
                <div class="review_results">
                    <div class="review_summary">
                        <span class="summary_score title">Great!</span>
                        <span class="summary_title">Summary:</span> Ellentesque habitant morbi tristique senectus et netus et malasd
                    </div>
                    <div class="review_rating">RATING : 84%</div>
                </div>
                
            </div>
            <!-- end review box stars -->
            
        </article>
</template>
