<template name="single_story01">
     <head>
        <title>{{title}}</title>
     </head> 


    <body>
        <!-- start site header -->
        <header class="site_header">
 
            
        </header>
        <!-- end site header -->
        
        
        <!-- start site content -->
        <div class="site_content container-fluid" style="padding 20px">
            <div class="container">
                <div class="row">
                    <!-- start main content area -->
                    <section class="span8 main_content homepage_content" style="margin-right: 20px">
                        
                        <article class="single_post">
                            <div class="post_banner "><img src="/img/FP/1.jpg" class="round_thumb" ></div>
                            <h1 class="post_title">{{title}} </h1>
                            <div class="news_box_post_meta">Posted on {{createdAt}}<a href="#">{{author}} </a></div>
                            <div class="tagcloud clearfix">
                                {{#each currentStory.tags.value}}
                                    <a href="#" class="tag-link-2" title="3 topics" style="font-size: 22pt;">{{this}}</a>
                                {{/each}}
                                <a href="#" class="tag-link-15" title="2 topics" style="font-size: 16.4pt;">Image</a>
                                <a href="#" class="tag-link-5" title="2 topics" style="font-size: 16.4pt;">Politics</a>
                            </div>
                            <div class="news_box_post_desc">
                                <p>{{summary}}</p>
                                <br>
                                <p>{{story_text}}</p>
                            </div>
                            
                            
                        </article>
                        <!-- start video widget -->
                         {{>related_video_widget}}
                        <!-- end video widget  -->
                        <div class="span12">
        <!-- <img src="/img/FP_infographic/1.png"> -->
                            <img alt="Gladiator Infographic" class="round_thumb" src="/img/FP_infographic/1.png" >
                        </div>
                        
                        <!-- start post share box -->
 
                        <!-- end post share box -->
                        
                        <!-- start author box -->
 
                        <!-- end author box -->
                        
<!--  -->
                        <!-- end new comment box -->
                        
                    </section>
                    <!-- end main content area -->
                </div>
            </div>
        </div>
    </body>

 </template>