
<template name="top_stories02">
	<div class="news_box vertical_news_box">
		<div class="news_box_title"><h2>Article Preview 02</h2></div>
		<!-- start news box grid -->
		
		<!-- start news box latest post -->
		<div class="news_box_latest row-fluid">
				<div class="news_box_post_thumbnail thumbnail_effect span6">
					<a href="#"><img alt="Image Title" src="/img/42.jpg" class="round_thumb"></a>
					<div class="thumbnail_overlay"><i class="glyphicon glyphicon-link"></i></div>
				</div>
				<div class="news_box_post_info span6">
					<h3 class="news_box_post_title"><a href="#">Lorem ipsum dolor sit amet</a></h3>
					<div class="news_box_post_meta">Posted on July 5, 2013</div>
					<div class="news_box_post_desc">
						<p>Fusce porttitor purus a pharetra varius. Proin eget nunc dignissim, aliquet dolor vel, tincidunt purus. Quisque facilisis risus orci. <a class="read_more_link" href="#">read more...</a></p>
					</div>
				</div>
		</div>
		<!-- end news box latest box -->
		
		<!-- start news box more posts -->
		<div class="row-fluid">
			<div class="news_box_more span12">
				
				<div class="news_box_more_row row-fluid">
					<!-- more post 1 -->
					<div class="news_box_more_post clearfix span6">
						<div class="news_box_post_thumbnail thumbnail_effect_small">
							<a href="#"><img alt="Image Title" src="/img/43.jpg" class="round_thumb"></a>
							<div class="thumbnail_overlay"><i class="glyphicon glyphicon-link"></i></div>
						</div>

						<div class="news_box_post_info">
							<h4 class="news_box_post_title"><a href="#">Lorem ipsum dolor sit amet</a></h4>
							<div class="news_box_post_meta">Posted on July 5, 2013</div>
						</div>
					</div>

					<!-- more post 2 -->
					<div class="news_box_more_post clearfix span6">
						<div class="news_box_post_thumbnail thumbnail_effect_small">
							<a href="#"><img alt="Image Title" src="/img/44.jpg" class="round_thumb"></a>
							<div class="thumbnail_overlay"><i class="glyphicon glyphicon-link"></i></div>
						</div>

						<div class="news_box_post_info">
							<h4 class="news_box_post_title"><a href="#">Lorem ipsum dolor sit amet</a></h4>
							<div class="news_box_post_meta">Posted on July 5, 2013</div>
						</div>
					</div>
				</div>
				
				<div class="news_box_more_row row-fluid">
					<!-- more post 3 -->
					<div class="news_box_more_post clearfix span6">
						<div class="news_box_post_thumbnail thumbnail_effect_small">
							<a href="#"><img alt="Image Title" src="/img/45.jpg" class="round_thumb"></a>
							<div class="thumbnail_overlay"><i class="glyphicon glyphicon-link"></i></div>
						</div>

						<div class="news_box_post_info">
							<h4 class="news_box_post_title"><a href="#">Lorem ipsum dolor sit amet</a></h4>
							<div class="news_box_post_meta">Posted on July 5, 2013</div>
						</div>
					</div>

					<!-- more post 4 -->
					<div class="news_box_more_post clearfix span6">
						<div class="news_box_post_thumbnail thumbnail_effect_small">
							<a href="#"><img alt="Image Title" src="/img/46.png" class="round_thumb"></a>
							<div class="thumbnail_overlay"><i class="glyphicon glyphicon-link"></i></div>
						</div>

						<div class="news_box_post_info">
							<h4 class="news_box_post_title"><a href="#">Lorem ipsum dolor sit amet</a></h4>
							<div class="news_box_post_meta">Posted on July 5, 2013</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end news box more posts -->
	</div>
</template>