<template name="top_stories">

	<div class="news_box vertical_news_blog vertical_news_blog_small">
		<div class="news_box_title"><h2>More Articles</h2></div>
		<!-- start news box grid -->
		
		<!-- start news box latest 1 -->
		<div class="news_box_latest row-fluid">
				<div class="news_box_post_thumbnail thumbnail_effect_small">
					<a href="#"><img alt="Image Title" src="/img/1(1).jpg" ></a>
					<div class="thumbnail_overlay"><i class="glyphicon glyphicon-link"></i></div>
				</div>
				<div class="news_box_post_info">
					<h3 class="news_box_post_title"><a href="#">Ancient Ruins Found in Pompei</a></h3>
					<div class="news_box_post_meta">Posted on May 31, 2013</div>
					<div class="news_box_post_desc">
						<p>Underneath a government building in Pompei Scientists have discovered ancient ruins of a city one million years older than Pompei<a class="read_more_link" href="#">read more...</a></p>
					</div>
				</div>
		</div>
		<!-- end news box latest 1 -->
		
		<!-- start news box latest 2 -->
		<div class="news_box_latest row-fluid">
				<div class="news_box_post_thumbnail thumbnail_effect_small">
					<a href="#"><img alt="Image Title" src="/img/6(1).jpg"></a>
					<div class="thumbnail_overlay"><i class="glyphicon glyphicon-link"></i></div>
				</div>
				<div class="news_box_post_info">
					<h3 class="news_box_post_title"><a href="#">It's Election time in Greece</a></h3>
					<div class="news_box_post_meta">Posted on July 5, 2013</div>
					<div class="news_box_post_desc">
						<p>With elections fast approaching candidates prepare their final press junkets before leaving their fate in the hands of the public. <a class="read_more_link" href="#">read more...</a></p>
					</div>
				</div>
		</div>
		<!-- end news box latest 2 -->
		
	</div>
</template>