	<!-- start subscribe widget -->
<template name="widget_subscribe">
	<div class="widget_container subscribe_widget clearfix">
		<div class="widget_title"><h4>Keep Updated</h4></div>
		<div class="subscribe_info">
			<div class="subscribe_icon"><i class="icon-rss"></i></div>
			<div class="subscribe_text">Provide your email below, and we will notify you the latest news freely.</div>
		</div>
		
		<div class="subscribe_form row-fluid">
			<form action="#" method="post" id="subscribeform">
				<input id="email" name="email" class="span7" type="text" placeholder="Email">
				<input name="submit" type="submit" id="submit" class="button span5 pull-right" value="Subscribe">
			</form>
		</div>
	</div>
	<!-- end subscribe widget -->
</template>
	