
<template name="video_widget">
	<div class="widget_container video_widget clearfix">
		<div class="widget_title"><h4>Featured Video</h4></div>
		<iframe width="95%" height="350" src="//www.youtube.com/embed/CWCwnkdPPCc" frameborder="0" allowfullscreen></iframe>
	</div>
</template>