<template name="widget_ftr_tweets">
	<div class="widget_area span3">
		<div class="widget_container tweets_widget clearfix">
			<div class="widget_title"><h4>Tweets</h4></div>
			<ul>
				<li class="cat-item">
					<a href="index.html#" class="tweet_icon"><i class="icon-twitter"></i></a> <a class="tweet_name" href="index.html#">@abouhashem_a</a> met, consectetur adipiscing elit. Cras scelerisque, erat quis sollicitudin faucib.
					<span class="tweet_time">about 1 hour ago.</span>
				</li>
				<li class="cat-item">
					<a href="index.html#" class="tweet_icon"><i class="icon-twitter"></i></a> <a class="tweet_name" href="index.html#">@abouhashem_a</a> met, consectetur adipiscing elit. Cras scelerisque, erat quis sollicitudin faucib.
					<span class="tweet_time">about 2 hours ago.</span>
				</li>
			</ul>
		</div>
	</div>
</template>