
<template name="related_video_widget">
	<div class="widget_container video_widget clearfix">
		<div class="widget_title"><h4>Gladiator School</h4></div>
		<iframe width="95%" height="350" src="//www.youtube.com/embed/CWCwnkdPPCc" frameborder="0" allowfullscreen></iframe>
	</div>

</template>