<template name="sidebar_widget">
	<div class="widget_container sponsor_widget_300 clearfix round_thumb">
		<!-- <img alt="Image Title" src="/img/35.jpg" class="round_thumb"> -->
						<!-- start news box more posts -->
		<div class="row-fluid">
				<div class="news_box_more span12" style="padding-top: 35px">
					<!-- more post 1 -->
					<div class="news_box_more_post clearfix">
						<div class="news_box_post_thumbnail thumbnail_effect_small" >
							<img alt="Image Title" class="round_thumb" src="/img/28.jpg">
							<div class="thumbnail_overlay"><i class="glyphicon glyphicon-link"></i></div>
						</div>
						
						<div class="news_box_post_info">
							<h4 class="news_box_post_title" style="margin-top: 2px; margin-bottom: 7px; padding-top: 2px" ><a href="#">Get ready for a hot summer</a></h4>
							<div class="news_box_post_meta">Posted on June 4, 2014</div>
						</div>
					</div>
					
					<!-- more post 2 -->
					<div class="news_box_more_post clearfix">
						<div class="news_box_post_thumbnail thumbnail_effect_small" >
							<img alt="Image Title" class="round_thumb" src="/img/23.jpg">
							<div class="thumbnail_overlay"><i class="glyphicon glyphicon-link"></i></div>
						</div>
						
						<div class="news_box_post_info">
							<h4 class="news_box_post_title" style="margin-top: 2px; margin-bottom: 7px; padding-top: 2px" ><a href="#">Chess becoming more popular in schools</a></h4>
							<div class="news_box_post_meta">Posted on June 4, 2014</div>
						</div>
					</div>
					
					<!-- more post 3 -->
					<div class="news_box_more_post clearfix">
						<div class="news_box_post_thumbnail thumbnail_effect_small" >
							<img alt="Image Title" class="round_thumb" src="/img/18.jpg">
							<div class="thumbnail_overlay"><i class="glyphicon glyphicon-link"></i></div>
						</div>
						
						<div class="news_box_post_info">
							<h4 class="news_box_post_title" style="margin-top: 2px; margin-bottom: 7px; padding-top: 2px" ><a href="#">How the internet works</a></h4>
							<div class="news_box_post_meta">Posted on June 3, 2014</div>
						</div>
					</div>
					
					<!-- more post 4 -->
					<div class="news_box_more_post clearfix">
						<div class="news_box_post_thumbnail thumbnail_effect_small" >
							<img alt="Image Title" class="round_thumb" src="/img/17.jpg">
							<div class="thumbnail_overlay"><i class="glyphicon glyphicon-link"></i></div>
						</div>
						
						<div class="news_box_post_info">
							<h4 class="news_box_post_title" style="margin-top: 2px; margin-bottom: 7px; padding-top: 2px" ><a href="#">Good times in America very soon</a></h4>
							<div class="news_box_post_meta">Posted on June 2, 2014</div>
						</div>
					</div>
				</div>
				<!-- end news box more posts -->
		</div> <!-- End previous Top Stories -->
		<div class="sponsor_title" style="padding-top: 10px;">Previous Top Stories</div>
	</div>
</template>